
@{
    ViewBag.Title = "SendFeedBack";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="container">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input name="ID" type="text" readonly class="form-control-plaintext" id="staticEmail" value="@ViewBag.id">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="Email" type="text" readonly class="form-control-plaintext" id="staticEmail" value="@ViewBag.email">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Tên người dùng</label>
            <div class="col-sm-10">
                <input name="UserName" type="text" readonly class="form-control-plaintext" id="staticEmail" value="@ViewBag.name">
            </div>
        </div>
        <div class="form-floating">
            <textarea name="Content" class="form-control" placeholder="Nội dung" id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-outline-success">Gửi</button>
    </div>
    
</form>


